@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font);
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --font: 'Lato', sans-serif;
    --cor0: #F2E7DC;
    --cor1: #F2B279;
    --cor2: #F2913D;
    --cor2-1: #f2913d83;
    --cor3: #F27405;
    --cor4: #F25C05;
    --cor5: #1d1d1d;
}
button{
    cursor: pointer;
    border: none;
}
        /*HEADER*/
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 80px;
    background-color: var(--cor2);
    margin-bottom: 1px solid var(--cor0);
}
#header-logo{
    width: 30%;
    margin: 0 auto;
}
#header-logo-img{
    width: 100%;
}
#header-nav{
    margin: 50px auto 0 auto;
    width: 58%;
}
.header-nav-a{
    flex-wrap: wrap;
    color: var(--cor0);
    opacity: 70%;
    padding: 20px;
    margin: 10px;
}
.header-nav-a:hover{
    transition: 200ms ease-in-out;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    opacity: 100%;
    color: var(--cor0);
}
        /*MAIN*/
    /*WELCOME*/
#welcome{
    height: 86vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor0);
    color: var(--cor3);
}
#welcome-img{
    width: 50%;
    margin-right: 5px;
    border-radius: 10px;
}
#welcome-img-logo{
    width: 100%;
}
#welcome-txt{
    align-self: center;
}
#welcome-a{
    color: var(--cor0);
    background-color: var(--cor4);
    padding: 15px;
    border-radius: 8px;
}
#welcome-txt{
    display: flex;
    flex-direction: column;
}
#welcome-txt > a, p, h1{
    margin-bottom: 30px;
}
#welcome-h1{
    font-size: 2.5em;
}
#welcome-a{
    width: 110px;
    text-align: center;
}
    /*ABOUT*/
#about{
    background-color: var(--cor0);
    height: 60vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: var(--cor5);
}
#about-h1{
    font-size: 1.8em;
}
#about-p{
    width: 300px;
    text-align: justify;
}
.about-btn{
    padding: 20px;
    color: var(--cor0);
    border-radius: 8px;
}
.about-btn:hover{
    transform: scale(1.2);
    transition: 300ms ease-in-out;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
#about-a-look{
    background-color: var(--cor2);
}
#about-a-buy{
    background-color: var(--cor3);
    margin: 20px;
}
#about-img{
    width: 40%;
    margin-left: 5px;
}
#about-img-img{
    width: 100%;
}
#video{
    display: flex;
    justify-content: center;
    background-color: var(--cor0);
    padding-bottom: 20px;
}
    /*FEATURES*/
#features{
    height: 80%;
    color:var(--cor4);
    padding: 20px;
}
#features-h1{
    text-align: center;
}
#features-description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.features-description-divall{
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    background-color: var(--cor2-1);
    text-align: justify;
}
.features-description-divall-h1{
    text-align: center;
}
    /*OPINIÕES*/
#opinions{
    padding: 20px;
    color: var(--cor5);
}
#opinions-h1{
    text-align: center;
}
#opinions-div{
    width: 70%;
    margin: 0 auto;
}
#opinions-btns{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
        /*FOOTER*/
footer{
    background-color: var(--cor3);
    padding: 40px;
    color: var(--cor-comp0);
    display: flex;
    flex-direction: column;
}
#footer-logo > img{
    display: block;
    margin: 0 auto;
}
#footer-redes{
    margin-bottom: 20px;
}
.fa-brands{
    color: var(--cor1);
    font-size: 1.5em;
    margin-right: 10px;
}
#footer-links{
    display: flex;
    justify-content: center;
}
#footer-links-suporte,
#footer-links-sobre{
    margin: 20px;
}
#footer-links a{
    color: var(--cor-comp0);
    text-decoration: none;
}
.footer-links-item-title{
    margin-bottom: 5px;
}
#footer-links-suporte li{
    margin-bottom: 8px;
}
#footer-links-sobre li{
    margin-bottom: 8px;
}
        /*CARROSSEL*/
.carousel{
    height: 400px;
}
#carousel-title{
    text-align: center;
    margin-bottom: 60px;
}
#carouselExampleControls{
    padding: 50px 50px;
}
        /*MEDIA QUERIES*/
@media (max-width: 770px) {
    #welcome{
        flex-wrap: wrap;
    }
    #welcome-img{
        margin-right: 0;
    }
    #welcome-txt{
        align-items: center;
    }
}